---
import Layout from "../layouts/Layout.astro";
import App from "../components/App";
const API_URL = import.meta.env.WORDPRESS_API_URL;
const res = await fetch(`${API_URL}/product`);
const products = await res.json();

console.log(products);
---

<Layout title="StarLink Rentals">
  <main
    class="flex items-center justify-center"
    style={{
      backgroundColor: "var(--background)",
      color: "var(--text-color)",
    }}
  >
    <App client:load products={products} />
  </main>
</Layout>
