---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import BookingCalendar from "../components/BookingCalendar";
---

<Layout title="StarLink Rentals">
  <main
    style={{
      backgroundColor: "var(--background)",
      color: "var(--text-color)",
    }}
    class="w-full"
  >
    <h1 class="text-2xl pt-8 font-bold text-center">📡 StarLink Rentals</h1>
    <p class="text-center">Select the quantity and date for your rental.</p>
    <BookingCalendar client:load />
  </main>
</Layout>
