---
import Layout from "../layouts/Layout.astro";
import App from "../components/App";
---

<Layout title="StarLink Rentals">
  <main
    class="flex items-center justify-center"
    style={{
      backgroundColor: "var(--background)",
      color: "var(--text-color)",
    }}
  >
    <App client:load />
  </main>
</Layout>
